@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: none; 
}
a {
  color: #e74c3c;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: #e76c3c;
}
.row {
  padding: 60px 0px;
}
.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn-border {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-border:hover {
  background: #fff;
  color: #444;
}
.btn-default {
  background: #3498db;
  color: #fff;
}
.btn-default:hover {
  background: #2980b9;
  color: #fff;
}
nav div p{
  font-family: fantasy;
  color: #fff;
  padding-top: 0.5em;
}
.title-big {
  text-align: center;
  font-size: 60px;
  font-family: 'Poiret One';
}
.subtitle-big {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #FFFFFF;
  font-family: 'Dosis';
}
.title-small {
  font-size: 45px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Poiret One';
}
.subtitle-small {
  font-weight: 100;
  padding-bottom: 2em;
  position: relative;
  color: #3D3F3C;
  font-size: 1.5em;
  font-family: 'Dosis';
}
.logo-menu .container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar {
  margin-bottom: 0;
}
.navbar li {
  color: #d1d1d1;
}
.navbar-default {
  border: none;
  border-radius: 0;
  background: #C2185B;
  width:100%;
}
.navbar-default .navbar-nav > li {
  margin: 0 15px;
  border-radius: 4px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background: none;
  padding: 8px 15px;
}
.connector{
  border: 2px solid white;
  top: 2em;
  position: relative;
  width: 55em;
  left: 12em;
}
.carousel-inner .item .text h4{
  font-weight: 400;
  position: relative;
  color: #fff;
  font-family: 'Dosis';
  font-size: 1.5em;
  padding: 0.5em;
}
.partner h2 , .partner h4{
  font-weight: 100;
  padding-bottom: 0.5em;
  position: relative;
  color: #3D3F3C;
  font-family: 'Dosis';
}
.partner div img{
  padding: 0.5em;
  width: 4em;
}
.partner div h4{
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Dosis';
  padding-top: 1em;
}
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
#testimonialCarousel .carousel-inner{
  max-height: 50em;
  min-height: 20em;
}
.footer {
  background: #fff;
}
.footer .container{
  padding: 3em 0 3em 0;
}
.footer-main {
  padding: 2em 0em 5em 0em;
}
.card{
  border: 1px solid #fff;
  background-color: #F3F3F3;
  box-shadow: 5px 5px 5px grey;
  max-height: 50em;
  min-height: 18em;
  padding: 0.5em;
}
.photo img{
  width: 5em;
  border: solid;
  border-radius: 40px;
  border-color: darkgrey;
}
.footer-grid h3 {
  font-family: "Dosis";
  font-size: 1em;
  color: grey;
}
.footer-grid  h2 {
  font-size: 1em;
  font-family: 'dosis';
  text-align: justify;
  padding: 0 1em 1em 1em;
  font-weight: bold;
  color: dimgray;
}
.social {
  text-align: center;
 }
.social ul {
  margin: 2.3em 0em 0em 0em;
  list-style: none;
}
.social ul li {
  display: inline;
  margin: 0px 10px 0px 0px;
}
.social ul li a {
  background: url(../img/social-sprit.png)no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.social ul li a.fa {
  background-position: 5px 0px;
}
.social ul li a.tw {
  background-position: -18px 0px;
}
.social ul li a.fa:hover {
  background-position: 5px -25px;
}
.social ul li a.tw:hover {
  background-position: -18px -25px;
}

/*--footer end here--*/
/*--copy right start here--*/
.copyright {
  background: #30322F;
  padding: 1em 0em 1em 0em;
}
.copyright .container div h3{
 font-family: "Dosis";
  font-weight: 400;
  margin: 0px 0px 25px 0px;
  color: #fff;
}

.copyright .container div h4 { 
  font-family: 'Dosis';
  color: #fff;
}
.copyright .container div h5{
  color: #fff;
  font-family: 'Dosis';
  text-align: center;
}
.copyright .container div a{
    color: #fff;
    font-family: 'Dosis';
} 
.copyright .container div span{
  color: #fff;
}
.copyright .container div h3 :hover, .copyright .container div a :hover{
  color:rgb(11, 178, 210);
}
/*--copy right end here--*/
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
  color: #fff;
  padding: 8px 15px;
}
.navbar-default .navbar-nav li a img{
  display: inline-block;
  padding-bottom: 0.5em;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
  color: #fff;
  background: rgba(41, 40, 40, 0.42);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-default .navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
  padding: 8px 15px;
}
.navbar-default .navbar-brand:hover {
  color: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #333;
}
#hero-area {
  background: url(../img/backgrounds/pomato-cover.png) fixed;
  background-size: cover;
  color: #fff;
}
.appstore{
  width: 10em;
  margin-bottom: 1.5em;
  display: inline-block;
}
.iphone-app {
  padding-top: 5em;
  width: 20em;
  float: right;
}
.or{
  width: 15em;
  text-align: center;
  border-bottom: 1px solid #e7e4da;
  line-height: 0.1em;
  margin-top: 4em;
  margin-left: 4em;
}
.or span {
  background: #fff;
  color: #333333;
  font-family: 'dosis';
  padding: 0 10px;
}
#append-data{
  padding-top: 5em;
}
.loader {
  margin-top: 1em;
  width: 2em;
  visibility: hidden;
}
#append-data .intl-tel-input {
  display: inline-block;
  vertical-align: middle;
  height: 3em;
  font-weight: 300;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #eee;
  padding: 0.5em;
}
.intl-tel-input div {
  display: block;
  float: left;
}
.phone-icon {
  padding: .25em;
}
.code {
  font-size: 1.5em;
  color: #FFFFFF;
  margin: 0 0px;
  display: none;
  width: 1.5em;
  font-family: 'dosis';
}
.container .intl-tel-input #user-phone-value {
  font-size: 1.5em;
  border: none;
  width: 11em;
  /* padding: 0.5em; */
  font-family: 'dosis';
}
#user-phone-value {
    outline: 0;
}
.intl-tel-input input {
    background: none;
    line-height: 1.4em;
    display: block;
}
#get-app-button {
  font-size: 1.5em;
  font-weight: 300;
  margin-left: -0.5em;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #F5A623;
  color: #fff;
}
.btn {
    border-radius: 0px;
}
#hero-area img {
  max-width: 100%;
}
#hero-area p {
  padding-top: 7em;
  font-family: 'Poiret One';
  font-size: 2em;
  display: inline-block;
  padding-right: 1em;
  font-weight: bold;
}
#hero-area .row {
  padding: 50px 50px 0px 50px;
}
.hero-inner {
  position: relative;
  color: #fff;
}
.hero-inner:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  content: "";
  display: block;
}
/*.sign-up-form input,
.sign-in-form input,
.sign-up-form input[type="password"],
.sign-in-form input[type="password"],
.sign-up-form input[type="text"],
.sign-in-form input[type="text"],
.sign-up-form input,
.sign-in-form input,
.sign-up-form input[type="email"],
.sign-in-form input[type="email"] {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  height: 45px;
  margin-bottom: 30px;
}*/
/*#sign-in-area,
#sign-up-area {
background: url(../img/backgrounds/hero-bg.jpg) fixed;
}
#sign-in-area .title-big,
#sign-up-area .title-big {
  color: #FFFFFF;
  font-family: 'Poiret One';
}*/
#key-features i {
  color: #333;
  margin-bottom: 15px;
}
#key-features h3 {
  margin-top: 1em;
  font-size: 28px;
  color: #0AB2D2;
  font-family: 'Dosis';
}
#main-features #feature-list-item-1,
#main-features #feature-list-item-3 {
  background: #ecf0f1;
}
#main-features .title-small {
  color: #3498DB;
}
#main-features .subtitle-small {
  line-height: 30px;
}
#main-features .btn-default {
  margin-top: 20px;
}
#features {
  background: url(../img/backgrounds/pomato-serviceCover.png);
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#features .title-small {
  text-align: center;
  /*color: #ffffff;*/
}
/*#features .btn-lg {
  width: 220px;
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
  text-transform: uppercase;
}*/
#features .btn-lg i {
  padding-right: 5px;
}
#features .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
#features .content-left,
#features .content-right {
  position: relative;
}
#features .content-left span {
  float: right;
  margin-left: 25px;
}
#features .content-right span {
  float: left;
  margin-right: 25px;
}
#features .box-item {
  padding-bottom: 40px;
}
#features .box-item .icon {
  /*background: #3498db;*/
  text-align: center;
  margin-top: 12px;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.leftSide{
  background: #0AB2D2;
}
.rightSide{
  background: #C2185B;
}
#features .box-item .icon i {
  color: #333333;
  font-size: 24px;
  line-height: 60px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#features .box-item .text h4 {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Dosis';
  padding-top: 1em;
}
#features .box-item .text p {
  color: #BABABA;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
#features .box-item:hover .icon {
  background: #2980b9;
}
#features .box-item:hover .icon i {
  color: #ffffff;
}
#features .show-box {
  padding: 22px 64px;
}
#bottom {
  background: #333;
  color: #fff;
}
#bottom a {
  color: #fff;
}
#bottom ul {
  list-style: none;
  padding: 0;
}
#bottom .social i {
  border: 2px solid #3498db;
  background: #3498db;
  color: #333;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 100%;
}
#bottom .social i:hover {
  border: 2px solid transparent;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#bottom .social .social-links a:hover {
  color: #fff;
}
#bottom .fa-facebook:before {
  margin-left: 5px;
}
#bottom .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}
#bottom .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}
#bottom .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}
#bottom .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}
